<html>
  <head>
    <link href="/demo/resources/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="/demo/resources/js/script.js" type="text/javascript"></script>
  </head>
	<body>
    <div class="wrapper">
      <div class="element-wrapper">
        <h1>Cheesy</h1>
      </div>
      <div class="element-wrapper">
        <form id="cheese-form" class="form">
          <input id="cheese-input" class="input-text" type="text" name="name" placeholder="Enter Cheese..." autocomplete="off"/>
          <select id="taste-input" name="taste">
            <option value="" disabled selected>Taste..</option>
            <option value="Horrible">Horrible</option>
            <option value="So-So">So-So</option>
            <option value="Good">Good</option>
            <option value="Delicious">Delicious</option>
          </select>
          <button id="add-button" class="button">Add</button>
        </form>
      </div>
      <div class="element-wrapper">
        <div class="table-wrapper">
          <table id="cheese-table" class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Cheese</th>
                <th>Taste</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
	</body>
</html>
